/*************************************
 * Personal dev environment :
 * here you can define your local variables,
 * which will override those in dfb.config.js
 *************************************/

var env = {
    /* BrowserSync Config
     /* watch css and js files, if you wish to watch other type of files, add it to the 'files' key
     */
    bs: {
        routing: "www.project.dev/",
        portNumber: "8787",
        //files: [basePath+'**!/!*.php', basePath+'**!/!*.html']
    }
    /* and you can do that, too (js will override the js key in dfb.config.js) :
    , js: [
        {src: 'myPersonalPath', dest: 'myPersonalPath' }
    ]*/
}

module.exports = env;