///************************************************************
// *  @_Project : (Project name)
// *  @_Date : (DD/MM/YY)
// *  @_Author : German Pichardo
// *
// *  ---------------
// *  @_Description :
// *  ---------------
// *
// *  File name
// *
// ************************************************************/
//
///************************************************************
// *  ------------
// *  - Summary -
// *  ------------
// *
// *  @_01 Colors project :
// *  @_02 Font Weight :
// *  @_03 Image-Path :
// *
// ************************************************************/

///************************************************************
// *  @_01 : Colors
// ************************************************************/

$white: #ffffff;
$black: #000000;

$orange-base: #f09a04;
$blue-base: #2db4d1;
$blue-base2: #4e8be5;
$blue-base3: #00a1e4;
$green-base: #92b90d;
$purple-base: #782fcb;
$pink-base: #cb2f7b;
$purple-base: #782fcb;

$red: #ef2b4b;

$grey-blue: #495b69;
$grey-blue-light: #88a2a7;
$grey-medium: #858d93;
$grey-light: #a7afb5;
$grey-lighter: #c7d1d8;
$grey-really-lighter: #f1f1f1;
$grey-bodybg: #e9edef;

$blue-light: #f5fafb;
$blue-dark: #0b89a4;

$orange2: #f07904;
$orange3: #f0bb04;

///************************************************************
// *  @_02 : Font-Weight
// ************************************************************/

$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;
$extraBold:800;

$menuWidth: 10vw;
