{% extends ':default:index.html.twig' %}

{% block content %}
    <div class="h1-container">
        <h1>
            <div class="ic-actus2 h1-col"></div>
            <div class="h1-col">
                <span class="h1-txt">Mes programmes & formations</span>
            </div>
        </h1>
    </div>

    <div class="editorial-content">
        Lorem ipsum...

    </div>
{% endblock %}
